body {
    font-family: 'Franklin Gothic Medium' sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
}

header {
    background-color: black;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 2rem;
    text-align: center;
}

h1, h2 {
    color: white;
}

img {
    max-width: 200px;
    margin-top: 1rem;
}

.galeria-projetos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.galeria-projetos .projeto {
    margin: 1rem;
}

.galeria-projetos img {
    max-width: 300px;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s;
}

.galeria-projetos img:hover {
    transform: scale(1.05);
}

form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}

form label {
    margin: 0.5rem 0;
}

form input, form textarea {
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 5px;
}

form button {
    margin-top: 1rem;
    padding: 0.7rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: black;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 8px;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 15px;
}

footer ul li a {
    color: white;
    text-decoration: none;
}